@import "variables.css";
@import "base.css";
@import "animations.css";
@import "header.css";
@import "widgets.css";
@import "weather.css";
@import "clothing.css";
@import "spotify.css";
@import "modal.css";